# dependencies
node_modules
.pnpm-store

# build outputs
dist
build
.next
.turbo
out
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode
.idea
*.swp
.DS_Store

# Drizzle
drizzle/journal.json

# Docker volumes
docker-data
